* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/matrix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f8f9fa; 
    color: #343a40; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.contenedor {
    padding: 20px;
    width: 100%;
    max-width: 1800px; 
    margin: 0 auto; 
    
}

.col-md-4 {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #343a40; 
}


h3 {
    font-size: 2.2rem; 
    color: #ffffff;
}


.form-label {
    font-size: 1.2rem; 
    color: #ced4da;
}

input[type="number"] {
    background-color: #495057;
    color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 12px; 
    font-size: 1.2rem; 
}


.form-check-label {
    font-size: 1.1rem; 
    color: #ced4da;
}


#btnGenerate {
    background-color: #007bff;
    border: none;
    color: #ffffff;
    padding: 14px; 
    font-size: 1.2rem; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#btnGenerate:hover {
    background-color: #0056b3;
}


#generatedPassword {
    font-size: 1.5rem; 
    background-color: #28a745;
    padding: 20px; 
    border-radius: 5px;
    word-wrap: break-word;
    display: block;
    text-align: center;
    color: #ffffff;
}

.d-grid {
    text-align: center;
}

hr {
    border-top: 1px solid #ced4da;
}
.badge{
    font-size: 50px;
}